<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Job</title>
</head>
<body>
<h1>Add Job</h1>

<form action="/hr/add_job/" method="post">
    {% csrf_token %}
    Job Id <br/>
    <input type="text" required="true" size="10" name="jobid"/>
    <p/>
    Job Title <br/>
    <input type="text" required="true" size="30" name="jobtitle"/>
    <p/>
    Min Salary <br/>
    <input type="number"  required="true" name="minsalary"/>
    <p/>
    <input type="submit" value="Add Job" />
</form>

<h4>{{message}}</h4>
</body>
</html>